#firstheaderText{
    font-family:'Yellowtail', cursive;
}
#secondheaderText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #bbbbbb;
    
}
#icons{
    float: right;
    margin-top: 35px;
    margin-right: 10px;

}
#LogoandName{
    display: inline-block;
}
#Print{
    float:right;
    margin-right: 10px;
    margin-left: 50px;
    margin-right: 10px;
   
}
#firstSection{
    float: left;
    width: 50%;
}
body{
    width: 100%;
}
#Paragraphs{
    color:rgb(82, 42, 36);
    font-size: 20px;
}
#RightSection{
    display: inline-block;
   

}
#sectionLeft{
    display: inline-block;
}
.hr{
    background-image: url("./img/hr-img.png");
    height: 10px;
}
#mainSection{
    text-align: center;
   
}

#divImgover{
    background-image: url("./img/list-bg.png");
}
#profilPic{
 display: inline-block;
 margin-right: 6px;
}
#titel{
display: inline-block;
}
#vanessaSection{
    margin-top: 20px;
    
}
#btn{
    float: right;
    margin-top: 40px;
    margin-right: 30px;
    padding: 10;
    background-color: rgb(153, 33, 33);
    color: white;
    height: 30px;
    width: 120px;
    font-size: 10px;
}
footer{
    position: relative;
}
#lhr{
    position: absolute;
    width: 47%;
}
#rhr{
    width: 50%;
    margin-top: 5px;
    
    
}
#logoFooter2{
    margin-top: -1%;
 position: absolute;
    left: 47%;
}
#finally{
    margin-top: 50px;
    color: gray;
    text-align: center;
}